#!/bin/sh
#

# Set up screens
if [ `xrandr | grep -c ' connected '` -eq 2 ]; then
    if [ `xrandr | grep VGA1 | grep -c ' connected '` -eq 1 ]; then
        xrandr --output LVDS1 --auto --primary --output VGA1 --auto --left-of LVDS1
    fi
    if [ `xrandr | grep DVI1 | grep -c ' connected '` -eq 1 ]; then
        xrandr --output LVDS1 --auto --primary --output DVI1 --auto --left-of LVDS1
    fi
else
    xrandr --output LVDS1 --auto --primary --output VGA1 --off --output DVI1 --off
fi
